<!DOCTYPE html>
<html>
  <head>
    <%- include headerinfo.ejs -%>
  </head>
  <body>
    <div class='container-fluid'>
      <div class='row'>
        <%- include sidebar.ejs -%>
        <div class='col-sm-10'>
          <h1><%= title %></h1>
          <hr>
          
          <form method='POST' action='' enctype="multipart/form-data" >
            <div class="form-group">
              <label for="store">Store:</label>
              <select 
                name="store" id="store" class="form-control" type="select" placeholder="Select a store to assign item" required="true"
              >
              <% for (var i = 0; i < stores.length; i++) { %>
                  <option value="<%=stores[i]._id%>"><%=stores[i].location%></option>
              <% } %>
              </select>
            </div>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" class="form-control" placeholder="Shirt,etc" name="name" required="true" value="<%= locals.item ?  item.name : '' %>">
            </div>
            <div class="form-group">
                <label for="summary">Summary:</label>
                <input type="text" id="summary" class="form-control" placeholder="description here" name="summary" required="true" value="<%= locals.item ?  item.summary : '' %>">
            </div>
            <div class="form-group">
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" class="form-control" name="quantity" required="true" value="<%= locals.item ?  item.quantity : '' %>">
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input type="text" id="price" class="form-control" name="price" required="true" value="<%= locals.item ?  item.price : '' %>">
            </div>
            <div class="form-group">
                <label for="category">Category:</label>
                <select 
                  name="category" id="category" class="form-control" type="select" placeholder="Select a category" required="true"
                >
                <% for (var i = 0; i < categories.length; i++) { %>
                    <option value="<%=categories[i]._id%>"><%=categories[i].name%></option>
                <% } %>
                </select>
            </div>
            <div class="form-group">
              <label for="picture">Picture File:</label>
              <input type="file" id="picture" class="form-control-file" name="picture" required="true" value="<%= locals.item ?  item.picture : '' %>">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>


        </div>
      </div>
    </div>
  </body>
</html>


