<!DOCTYPE html>
<html>
  <head>
    <%- include headerinfo.ejs -%>
  </head>
  <body>
    <div class='container-fluid'>
      <div class='row'>
        <%- include sidebar.ejs -%>
        <div class='col-sm-10'>
          <h1><%= title %></h1>
          <hr>
          
          <% if (!locals.item) {%>
            <p>NO ITEM FOUND</p>
          <% } else { %>
            <img src="<%= item.picture == 'holder' ? '/images/default.jpg': item.picture %>" alt="">
            <br>
            <p><%= item.name %></p>
            <p>Category: <%= item.category.name %></p>
            <p><%= item.summary %></p>
            <p>Quantity: <%= item.quantity %></p>
            <p>Price: $<%= item.price %></p>
            <p>Store: <a href='<%= store[0].url %>'><%= store[0].location %></a></p>
            
            <a href='<%=item.url%>/delete'>Delete</a>
            <br>
            <a href='<%=item.url%>/update'>Update</a>
            <br>
          <% } %>


        </div>
      </div>
    </div>
  </body>
</html>


