<!DOCTYPE html>
<html>
  <head>
    <%- include headerinfo.ejs -%>
  </head>
  <body>
    <div class='container-fluid'>
      <div class='row'>
        <%- include sidebar.ejs -%>
        <div class='col-sm-10'>
          <h1><%= title %></h1>
          <hr>
          
          <% if (!store) {%>
            <p>NO STORE FOUND</p>
          <% } else { %>
            <p>Open: <%= store.days %>  <%= store.hours %></p>
            <a href='<%=store.url%>/delete'>Delete</a>
            <br>
            <a href='<%=store.url%>/update'>Update</a>
            <br>
            <% for (var i = 0; i < categorized_items.length; i++) { %>
                <div class='categoryTitle'>
                  <%= categoryNames[i] %>
                  <div>
                    <% for (var j = 0; j < categorized_items[i].length; j++) { %>
                      <div class='item_box'>
                        <img src="<%= categorized_items[i][j].picture == 'holder' ? '/images/default.jpg': categorized_items[i][j].picture %>" alt="">
                        <br>
                        <p><%=categorized_items[i][j].name%></p>
                        <p><%=categorized_items[i][j].summary%></p>
                        <p>Stock: <%=categorized_items[i][j].quantity%></p>
                        <p>Price: $<%=categorized_items[i][j].price%></p>
                      </div>
                    <% } %>
                  </div>  
                </div>
            <% } %>
          <% } %>


        </div>
      </div>
    </div>
  </body>
</html>


